/*
 * this is he landscape mode 
 */ 
@media only screen and (max-width: 800px) and (min-height: 400px) ) {
    .search-landscape {
        width: "100%"
    }
    
    
    
}

/*
 * nerly potrait mode
 */

@media only screen and (max-width:350px) and (min-height: 400px) {
 
    .search-landscape {
        width: "20%";
    }
}


/*
 * nearly portrat slim 
 */
@media only screen (min-width: 150px) and (min-height: 400px) {
    .last-col {
        display: none;
    }
    
    .search-landscape {
        display: none;
    }
    
}