
/*
 * nearly portrait slim
 */

.img-login {
  max-height: 64px
} 

.scores  {
  display:flex;
  flex-direction: row
}

.score {
  font-stretch: ultra-condensed;
  font-size:  400%;
  color: white;
}

.disabled {
   background-color: darkslategrey;
}

.chat-in {
  background-color:  aqua;
}

.chat-view {
  background-color: blueaqua;
}

.scoreplate {
  border: solid 1px;
  width: 80px;
  background-color:  black;
  color: white;
  font-size:  400%;
  text-align: center;
}

.middlePlate {
  border: solid 1px;
  width: 60px;
  background-color:  black;
  color: white;
  font-size:  400%;
  text-align: center;
}

.solid {
	width: 200px;
	border: 2px solid;
	margin: 10px;
    background-color: grey
    padding-top: 30px;
    padding-bottom: 30px;
    padding: 30px
    text-align: center;
}

.topSection {
  display: flex;
  background-color:#e5e5e5;
  text-align:center;
  display: flex;
  flex-direction: row-reverse;
  align-content: flex-end ;
  max-height: 64px
}


 .img-logo {
	max-height: 100px;
 }


.gamesTable {
    background-color: "blue";
    border: 1px solid black;
    border: 1px solid black;
    margin-left: 10px;

}

.greeting-text {
    padding-top: 40px;
    font-weight: bold;
}

.null0 {
    transform: translate(260px,-190px);
    color: white;
    z-index: 999;
    position: absolute;
}

.Goalkeeper0 {
       transform: translate(260px,-180px);
       color: white;
       z-index: 999;
       position: absolute;
}

.Goalkeeper1 {
  transform: translate(260px,160px);
  color: white;
  z-index: 999;
  position: absolute;
}

.Goalkeeper2 {
    transform: translate(260px,-190px);
    color: white;
    z-index: 999;
    position: absolute;
}


.Goalkeeper3 {
  transform: translate(260px,-190px);
  color: white;
  z-index: 999;
  position: absolute;
}

.Goalkeeper4 {
  transform: translate(260px,-190px);
  color: white;
  z-index: 999;
  position: absolute;
}
.Defender0 {
       transform: translate(120px, -260px);
       color: blue;
       z-index: 999;
       position: absolute;
}

.Defender1 {
       transform: translate(120px, -150px);
       color: white;
/*       background-color: ; */
       z-index: 999;
       position: absolute;
}

.Defender2 {
       transform: translate(180px, -100px);
       color: red
       z-index: 999;
       position: absolute;  
}

.Defender3 {
    transform: translate(160px, -50px);
    color: white;
    z-index: 999;
    position: absolute;  
}

.Defender4 {
  transform: translate(160px, -220px);
  color: white;
  z-index: 999;
  position: absolute; 
} 

.Defender5 {
    transform: translate(60px, -220px);
    color: white
     z-index: 999;
    position: absolute;  
}

.Defender6 {
      transform: translate(80px, -250px);
      color: white;
      z-index: 999;
      position: absolute;
}  

.Defender7 {
  transform: translate(80px, -220px);
  color:white;
  z-index: 999;
  position: absolute;
}  
  
.Defender8 {
  transform: translate(80px, -190px);
  color: red;
  z-index: 999;
  position: absolute;
}  

.Defender9 {
  transform: translate(80px, -190px);
  color: red;
  z-index: 999;
  position: absolute;
}  
  
.Defender10 {
  transform: translate(80px, -80px);
  color: red;
  z-index: 999;
  position: absolute;
}  

.Defender11 {
  transform: translate(80px, -160px);
  color: red;
  z-index: 999;
  position: absolute;
}

.Defender12 {
  transform: translate(80px, -160px);
  color: red;
  z-index: 999;
  position: absolute;
}

.Defender13 {
  transform: translate(80px, -160px);
  color: red;
  z-index: 999;
  position: absolute;
}

.Midfielder0 {
  transform: translate(60px, -50px);
  color: white;
  z-index: 999;
  position: absolute;
}

.Midfielder1 {
  transform: translate(180px, -160px);
  color: white;
  z-index: 999;
  position: absolute;
}

.Midfielder2 {
       transform: translate(160px, -280px);
       color: red;
       z-index: 999;
       position: absolute;
}

.Midfielder3 {
  transform: translate(160px, -180px);
  color: white;
  z-index: 999;
  position: absolute;
}

.Midfielder4 {
  transform: translate(160px, -280px);
  color: red;
  z-index: 999;
  position: absolute;
}

.Midfielder5 {
  transform: translate(160px, -280px);
  color: red;
  z-index: 999;
  position: absolute;
}

.Midfielder6 {
  transform: translate(160px, -230px);
  color: red;
  z-index: 999;
  position: absolute;
}

.Midfielder7 {
  transform: translate(160px, -230px);
  color: red;
  z-index: 999;
  position: absolute;
}
.Midfielder8 {
  transform: translate(160px, -230px);
  color: red;
  z-index: 999;
  position: absolute;
}

.Midfielder8 {
  transform: translate(160px, -230px);
  color: red;
  z-index: 999;
  position: absolute;
}

.Midfielder9 {
  transform: translate(160px, -230px);
  color: red;
  z-index: 999;
  position: absolute;
}

.Midfielder10 {
  transform: translate(160px, -250px);
  color: red;
  z-index: 999;
  position: absolute;
}

.Midfielder11 {
  transform: translate(160px, -240px);
  color: red;
  z-index: 999;
  position: absolute;
}

.Midfielder12 {
  transform: translate(180px, -230px);
  color: red;
  z-index: 999;
  position: absolute;
}

.Midfielder13 {
  transform: translate(180px, -230px);
  color: red;
  z-index: 999;
  position: absolute;
}

.Midfielder14 {
  transform: translate(180px, -230px);
  color: red;
  z-index: 999;
  position: absolute;
}

.Midfielder15 {
  transform: translate(180px, -230px);
  color: red;
  z-index: 999;
  position: absolute;
}

.Attacker0 {
       transform: translate(140px, -220px);
       color: white;
       background-color: ;
       z-index: 999;
       position: absolute;
}

.Attacker1 {
       transform: translate(140px, -220px);
       color: white;
       background-color: ;
       z-index: 999;
       position: absolute;
}


.Attacker2 {
  transform: translate(140px, -220px);
  color: white;
  background-color: ;
  z-index: 999;
  position: absolute;
}


.Attacker3 {
  transform: translate(140px, -220px);
  color: white;
  background-color: ;
  z-index: 999;
  position: absolute;
}


.Attacker4 {
  transform: translate(140px, -220px);
  color: white;
  background-color: ;
  z-index: 999;
  position: absolute;
}


.Attacker5 {
  transform: translate(140px, -320px);
  color: white;
  background-color: ;
  z-index: 999;
  position: absolute;
}


.Attacker6 {
  transform: translate(140px, -120px);
  color: white;
  background-color: ;
  z-index: 999;
  position: absolute;
}


.Attacker7 {
  transform: translate(140px, -120px);
  color: white;
  background-color: ;
  z-index: 999;
  position: absolute;
}


.Attacker8 {
  transform: translate(140px, -120px);
  color: white;
  background-color: ;
  z-index: 999;
  position: absolute;
}

.Attacker9 {
  transform: translate(140px, -120px);
  color: white;
  background-color: ;
  z-index: 999;
  position: absolute;
}


* {
      box-sizing: border-box;
  }
  
    .menu {
      float:left;
      width:20%;
      text-align:center;
    }
    .menu a {
      background-color:#e5e5e5;
      padding:8px;
      margin-top:7px;
      display:block;
      width:100%;
      color:black;
    }
    .main {
      float:left;
      width:60%;
      padding:0 20px;
    }
    .right {
      background-color:#e5e5e5;
      float:left;
      width:20%;
      padding:15px;
      margin-top:7px;
      text-align:center;
    }
    
    @media only screen and (max-width:620px) {
      /* For mobile phones: */
      .menu, .main, .right {
        width:100%;
      }
    }

    .container img {
      float: left;
      max-width: 60px;
      width: 100%;
      margin-right: 20px;
      border-radius: 50%;
    }
    
    
.chat-container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.chat-container::after {
  content: "";
  clear: both;
  display: table;
}

.chat-container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.chat-container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}