
@media only screen and (min-width: 740) or (orientation: landscape) or (device-height:360)  {
    .your-image {
     	display:none;
    }

    .search-landscape {
	width: "60%";
    }   
    
  .hide {
    display: none;    
  }
}

@media only screen and (min-width: 355px)  {
    .your-image {
        width: "10%";
    }

    .search-landscape {
	width: "20%";
    }


  .last-col {
    display: none ;
  } 
	
}


